@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    /* About  */
    .about-navitem-container>.about-navitem>span{
        @apply transition-colors;
    }
    .about-navitem-container:hover>.about-navitem>span{
        color: #1b9ce3;
        @apply transition-colors;
    }

    /*Hidden Navitem container*/
    .hidden-navitems{
     box-shadow: 0 0 6px #706f6f;
    }
    /* Hidden navitem  */
    .hidden-navitems-navitem{
        position: relative;
        &::before{
            position: absolute;
            top: 0;
            left: 0;
            height: 0%;
            width: 0px;
            content: '';
            background-color: #1b9ce3;
            transition:  height 400ms ;
        }
        &:hover::before{
            transition:  height 400ms ;
            height: 100%;
            width: 4px;
        }
    }
    /*Checkbox to toggle navbar*/
    #toggle-menu{
        display: none;
    }
    #toggle-menu:checked ~ .vertical-navbar{
        @apply block right-0;
    }
    @media screen and (min-width:768px) {
        #toggle-menu:checked ~ .vertical-navbar{
            @apply hidden -right-full;
        }
    }
    #toggle-menu:not(:checked) ~ .vertical-navbar{
        @apply hidden -right-full;
    }
}